## **ETL dedatos en una startup de servicios de streaming**

Este proyecto está dedicado a la descarga, pre-preparación, procesamiento de datos y desarrollo de una API que  disponibilice la información de la empresa.

# Materiales y métodos

Este proyecto consta de los siguientes pasos:
* Descarga de datos: descargua y visulización de datos de los archivos (Dataset, ratings)
* Preparación de datos: análisis preliminar de la estructura de datos
* Transformaciones: Normalización en el cambio de tipos de datos y estructura de tablas
* Transformaciones: Conctenación y unión para un solo archivo de salida
* Exportación el CSV final con todas las transformaciones realizadas

### Librerias

In [1]:
import pandas as pd

## Descarga de los archivo del Dataset del repositorio __

In [2]:
df_amazon = pd.read_csv('Dataset/amazon_prime_titles.csv')
df_disney = pd.read_csv('Dataset/disney_plus_titles.csv')
df_hulu = pd.read_csv('Dataset/hulu_titles.csv')
df_netflix = pd.read_csv('Dataset/netflix_titles.csv')

'show_id', 
'type', 
'title', 
'director', 
'cast', 
'country',
'date_added',
'release_year',
'rating', 'duration', 
'listed_in', 
'description'

# Data preparación amazon

In [3]:
df_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [4]:
df_amazon.shape

(9668, 12)

In [5]:
df_amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

Ahora veamos nuestra DataSet df_amazon

# Data preparación Disney

In [6]:
df_disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [7]:
df_disney.shape

(1450, 12)

In [8]:
df_disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

# Data preparación Hulu

In [9]:
df_hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [10]:
df_hulu.shape

(3073, 12)

In [11]:
df_hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

## Data preparación Netflix

In [12]:
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [13]:
df_netflix.shape

(8807, 12)

In [14]:
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

### Contar los duplicados en la columna 'show_id'

In [15]:

duplicados_amazon = df_amazon.duplicated(subset=['show_id']).sum()
duplicados_disney = df_disney.duplicated(subset=['show_id']).sum()
duplicados_hulu = df_hulu.duplicated(subset=['show_id']).sum()
duplicados_netflix = df_hulu.duplicated(subset=['show_id']).sum()

print('Cantidad de duplicados en amazon show_id =', duplicados_amazon)
print('Cantidad de duplicados en disney show_id =', duplicados_disney)
print('Cantidad de duplicados en hulu show_id =', duplicados_hulu)
print('Cantidad de duplicados en netflix show_id =', duplicados_netflix)

Cantidad de duplicados en amazon show_id = 0
Cantidad de duplicados en disney show_id = 0
Cantidad de duplicados en hulu show_id = 0
Cantidad de duplicados en netflix show_id = 0

### Función para generar el campo ID

In [16]:

def generate_id(prefix, show_id):
    return  str(show_id) + prefix 

# Generar el campo ID para cada dataframe
df_amazon['id'] = df_amazon['show_id'].apply(generate_id, args=('a',))
df_disney['id'] = df_disney['show_id'].apply(generate_id, args=('d',))
df_hulu['id'] = df_hulu['show_id'].apply(generate_id, args=('h',))
df_netflix['id'] = df_netflix['show_id'].apply(generate_id, args=('n',))

In [17]:
# Agregar una columna 'plataforma' a cada DataFrame para identificar la plataforma
df_amazon['plataforma'] = 'Amazon'
df_disney['plataforma'] = 'Disney'
df_hulu['plataforma'] = 'Hulu'
df_netflix['plataforma'] = 'Netflix'

## Concatenamos bases de datos de las plataformas de streaming

In [18]:
df_plataformas = pd.concat([df_amazon, df_disney, df_hulu, df_netflix])
df_plataformas.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,plataforma
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1,Amazon
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2,Amazon
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3,Amazon

In [19]:
df_plataformas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      14739 non-null  object
 4   cast          17677 non-null  object
 5   country       11499 non-null  object
 6   date_added    13444 non-null  object
 7   release_year  22998 non-null  int64
 8   rating        22134 non-null  object
 9   duration      22516 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22994 non-null  object
 12  id            22998 non-null  object
 13  plataforma    22998 non-null  object
dtypes: int64(1), object(13)
memory usage: 2.6+ MB

## Normalizar datos

Eliminar los espacios en blanco en todas las columnas del dataframe

In [20]:
df_plataformas = df_plataformas.applymap(lambda x: x.strip() if isinstance(x, str) else x)

Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”)

In [21]:
df_plataformas["rating"].fillna(value = 'G', inplace = True)

Cambiando el formato de la columna 'date_added' que esta object a formato adecuado 'AAAA-mm-dd'

In [22]:
df_plataformas["date_added"] = pd.to_datetime(df_plataformas.date_added)

Conversión de campos de texto a minuscula utilizando el metodo "applymap"

In [23]:
df_plataformas = df_plataformas.apply(lambda x: x.str.lower() if x.dtype == "object" else x)

In [24]:
duplicados= df_plataformas.duplicated(subset=['id']).sum()
duplicados

0

In [25]:
df_plataformas['duration'].fillna(df_plataformas[df_plataformas['rating'].str.contains('season|min')]['rating'], inplace=True)

El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [26]:
df_plataformas[['duration_int', 'duration_type']] = df_plataformas['duration'].str.extract('(\d+) (\w+)', expand=True)

# Rellena los valores faltantes en la columna 'duration_int' con ceros
df_plataformas['duration_int'] = df_plataformas['duration_int'].fillna(0)

# Mapea las etiquetas 'min' a 'minutos'
df_plataformas['duration_type'] = df_plataformas['duration_type'].map({'min': 'min', 'season': 'season', 'seasons': 'season'})

# Convierte el campo duration_int en un entero
df_plataformas['duration_int'] = df_plataformas['duration_int'].astype(int)
df_plataformas = df_plataformas.drop('duration', axis=1)

In [27]:

df_plataformas['rating'] = df_plataformas['rating'].str.replace('\d+\.?\d*\s*(min|season)?', 'g', regex=True)

In [28]:
df_plataformas['type'] = df_plataformas['type'].replace({'tv show': 'tv_show'})

In [29]:
df_plataformas.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,id,plataforma,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,as1,amazon,113,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,g+,"drama, international",a metro family decides to fight a cyber crimin...,as2,amazon,110,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,amazon,74,min

In [30]:
import pandas as pd
dfs = [pd.read_csv('ratings/1.csv'), pd.read_csv('ratings/2.csv'), pd.read_csv('ratings/3.csv'), pd.read_csv('ratings/4.csv'), pd.read_csv('ratings/5.csv'), pd.read_csv('ratings/6.csv'), pd.read_csv('ratings/7.csv'), pd.read_csv('ratings/8.csv')]

In [31]:
df = pd.concat(dfs, ignore_index=True)

In [32]:
df_ratings = df.rename(columns={'movieId': 'id'})

In [33]:
df_ratings_promedio = df_ratings.groupby('id')['rating'].mean()

In [34]:
df_ratings_promedio = pd.DataFrame(df_ratings_promedio).reset_index()

In [35]:
df_ratings_promedio.head()

       id    rating
0     as1  3.467131
1    as10  3.439571
2   as100  3.609302
3  as1000  3.556701
4  as1001  3.585288

In [36]:
df_ratings_promedio.shape

(22998, 2)

In [37]:
df_plataformas = pd.merge(df_plataformas, df_ratings_promedio, on='id')

In [38]:
df_plataformas = df_plataformas[['id','show_id', 'plataforma','type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating_x', 'rating_y', 'duration_int', 'duration_type', 'listed_in', 'description']]

## Exportación el CSV final con todas las transformaciones realizadas

In [39]:
#Exporto el CSV final con todas las transformaciones realizadas
df_plataformas.to_csv('Dataset\plataformas.csv', index=False)

In [40]:
df_plataformas.columns

Index(['id', 'show_id', 'plataforma', 'type', 'title', 'director', 'cast',
       'country', 'date_added', 'release_year', 'rating_x', 'rating_y',
       'duration_int', 'duration_type', 'listed_in', 'description'],
      dtype='object')